body {
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
.container {
	width: 1200px;
	margin:0 auto;
	
}

.header {
	position: fixed;
	height: 72px;
	background-color: #000000;
	display: flex;
	align-items:center;
	z-index: 60;
	left: 0;
	right: 0;
	top: 0;

	
}
.logo{
	font-size: 24px;
 	font-weight: 500;
 	color: #ffffff;
 	display: flex;
	align-items:center;
	
}
.header__menu-toggle  {
  position: relative;
  width:40px;
  min-width: 40px;
  height: 40px;
  margin-right:16px;
  border-radius:4px;
  transition:0.3s;
  cursor: pointer;
  margin: 0 0 0 auto;
}
  @media screen and (min-width: 768px){
    .header__menu-toggle {
      display: none!important;
    }
    
  }
.header__menu-toggle:hover {
  background: #4e4c4c;
  transition:0.3s;
}
.header__menu-toggle:active {
  background: #4e4c4c;
  transition:0.3s;
}
.header__menu-toggle > div {
  width:24px;
  height: 2px;
  background:#fff;
  top:50%;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  transition:0.3s;
}
.header__menu-toggle > div:nth-child(1) {
  top:12px;
}
.header__menu-toggle > div:nth-child(3) {
  top:calc(100% - 12px);

}


.header__menu-toggle.opened > div:nth-child(2) {
  display: none;
}

.header__menu-toggle.opened > div:nth-child(1) {
  transform:translateX(-50%) rotate(45deg);
  top:50%;
  transition:0.3s;
}

.header__menu-toggle.opened > div:nth-child(3) {
  transform:translateX(-50%) rotate(-45deg);
  top:50%;
  transition:0.3s;
}
.slide-menu {
  width: 300px;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  transition: 0.3s;
}
  @media screen and (min-width: 768px){
   .slide-menu{
      display: none!important;
    }
    
  }
.slide-menu.opened {
  box-shadow: 0px 0px 12px 0px #000;
  transform: translateX(0%);
  transition: 0.3s;
}
.slide-menu ul{
  
  padding: 80 0 0 20;
  text-decoration: none;
}
.slide-menu ul li {
  text-decoration: none;
 list-style-type: none;
 padding-bottom: 15px;
}
.slide-menu ul li a {

  text-decoration: none;
   font-size: 16px;
   color: #000000;
   margin-right: 40px;
   align-items: center;


  }
.slide-menu ul li button {
  text-decoration: none;
  border: solid 1px #000000;
  width: 187px;
    height: 36px;
    color: #000000;
    background-color: #ffffff;
    font-size: 16px;
    border-radius: 4px;


}
.slide-menu ul li button:hover{
opacity: 50%;
}


.menu{
	margin-left: 35%;
	display: flex;
	align-items:center;
	text-decoration: none;
	position: relative;

}
  @media screen and (max-width: 768px){
    .menu{
      display: none!important;
    }
    
  }
.menu ul{
	display: flex;
	padding: 0;
	align-items: center;
}
.menu ul li {
	text-decoration: none;
 
}
.menu ul li a {

	text-decoration: none;
	 font-size: 16px;
	 color: #ffffff;
	 margin-right: 40px;
	 align-items: center;

	}
.menu ul li button {
 	text-decoration: none;
 	border: solid 1px #ffffff;
 	width: 187px;
  	height: 36px;
  	color: #ffffff;
  	background-color: #000000;
  	font-size: 16px;
  	border-radius: 4px;


}
.menu ul li button:hover{
opacity: 50%;
}

.header .container {
	display: flex;
	align-items: center;
}

.first_section .container{
	display: flex;
  
    align-items: center;
}
.first_section {
	
	display: flex;
	min-height: 100vh;
  min-width: 1440;
	background-color: #000000;
	
	

	
} 
.first_section .title{
	
	width: 50%;
	
	

	
}
.first_section .title .text {
	flex-direction: column;
}

.first_section .title .text span{
	display: block;
	color: #ffffff;

}
.first_section .title .text span.first{
	font-size: 36px;
 	font-weight: 300;
 	text-align: left;
  	color: #ffffff;


}
.first_section .title .text span.second{
	font-size: 64px;
	font-weight: bold;
	text-align: left;
	color: #ffffff;

}
.first_section .title .text span.third{
	font-size: 24px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;

}
.first_section .title .kurs{
	display: flex;
	align-items: center;
	margin-top: 40px;
}
.first_section .title .kurs button{

	
	border-radius: 4px;
 	background-color: #6dcc0e;
    width: 329px;
  	height: 48px;
  	border: none;
  	color: #ffffff;
  	font-size: 24px;
  	font-weight: 500;

}
.first_section .title .kurs button:hover{
	opacity: 90%
}
.first_section .title .kurs span.start{
	  font-size: 18px;
  font-weight: 500;
   color: #ffffff;
   margin-left: 44px;

}
.first_section .title .kurs span.start span{
	font-weight: 300;
}
.first_section .image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.about .container{
	display: flex;
	padding-top: 77px;
}
.about .title{
	width: 33%;
	font-size: 80px;
  font-weight: 900;
   text-align: left;
  color: #000000;
}

.about .title span{
	display: block;
	  font-size: 76px;
  font-weight: 900;
  -webkit-text-stroke: 2px #5a5858;
  color: #ffffff;
  margin-top: -30px;
	}
.about .benefits{
	width: 66%;

}
.about .benefits_first{
	display: flex;

}
.about .benefits_first .teachers{
	border-left: solid 6px #6dcc0e;
	width: 50%;
}
.about .benefits_first .teachers .number{
	display: block;
	  font-size: 90px;
  font-weight: bold;
  color: #000000;
  padding-left: 14px;
}
.about .benefits_first .teachers .name{
	display: block;
	font-size: 32px;
  	font-weight: bold;
  	color: #000000;
  	padding-left: 14px;
  	margin-top: -19px;
  }
 .about .benefits_first .teachers .description{
 	display: block;
 	  font-size: 20px;
  font-weight: normal;
  color: #909090;
  padding-left: 14px;
  margin-top: -2px

}
.about .benefits_first .houres{
	border-left: solid 6px #6dcc0e;
	width: 50%;
}
.about .benefits_first .houres .number{
	display: block;
	  font-size: 90px;
  font-weight: bold;
  color: #000000;
  padding-left: 14px;
}
.about .benefits_first .houres .name{
	display: block;
	font-size: 32px;
  	font-weight: bold;
  	color: #000000;
  	padding-left: 14px;
  	margin-top: -19px;
  }
 .about .benefits_first .houres .description{
 	display: block;
 	  font-size: 20px;
  font-weight: normal;
  color: #909090;
  padding-left: 14px;
  margin-top: -2px

}
.about .benefits_second{
	display: flex;
	margin-top: 81px;
	margin-bottom: 81px; 
}
.about .benefits_second .lectures{
	border-left: solid 6px #6dcc0e;
	width: 50%;
}
.about .benefits_second .lectures .number{
	display: block;
	  font-size: 90px;
  font-weight: bold;
  color: #000000;
  padding-left: 14px;
}
.about .benefits_second .lectures .name{
	display: block;
	font-size: 32px;
  	font-weight: bold;
  	color: #000000;
  	padding-left: 14px;
  	margin-top: -19px;
  }
 .about .benefits_second .lectures .description{
 	display: block;
 	  font-size: 20px;
  font-weight: normal;
  color: #909090;
  padding-left: 14px;
  margin-top: -2px

}
.about .benefits_second .projects{
	border-left: solid 6px #6dcc0e;
	width: 50%;
}
.about .benefits_second .projects .number{
	display: block;
	  font-size: 90px;
  font-weight: bold;
  color: #000000;
  padding-left: 14px;
}
.about .benefits_second .projects .name{
	display: block;
	font-size: 32px;
  	font-weight: bold;
  	color: #000000;
  	padding-left: 14px;
  	margin-top: -19px;
  }
 .about .benefits_second .projects .description{
 	display: block;
 	  font-size: 20px;
  font-weight: normal;
  color: #909090;
  padding-left: 14px;
  margin-top: -2px

}
.auditory .container{
	display: flex;
}
.auditory .about_auditory {
	width: 33%
}
.auditory .about_auditory .text_about{
	font-size: 24px;
  	font-weight: 900;
    text-align: left;
  	color: #000000;
  	text-transform: uppercase;

}
.auditory .about_auditory .icons{
	display: flex;
	align-items: center;
	
}
.auditory .about_auditory .icons .circle {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #6dcc0e;
	border-radius: 50px;
	width: 52px;
  	height: 52px;
  	margin-right: 18px;
  	margin-top: 20px;

}
.auditory .slider {
	width: 66%;
	
	
}

.auditory .slider .slider_slick {
 
 z-index: 30;

}
.auditory .slider .slider_banner{
	position: relative;
}

.auditory .slider .slider_banner::before {
	content: '';
	display: block;
	width: 148px;
  	height: 148px;
   	background-color: #6dcc0e;
   	position: absolute;
   	top: -17px;
   	right: -17px;
   	z-index: 25;
}
.auditory .slider .slider_banner::after {
	content: '';
	display: block;
	width: 250px;
  	height: 250px;
   	background-color: #6dcc0e;
   	position: absolute;
   	bottom:  -53px;
   	left:  -53px;
   	z-index: 25;
}

.slider-controls{

	    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 33px;
}
.slider-controls button{
	border: none;
background: none;

}
.slider-controls span {
	margin-right: 5px;
	margin-left: 5px;
}

.d-flex{
	display: flex;
}
.home_for_who{
	background-color: #000000;
	padding: 80px 0px;
	margin-top: 81px;
}
.home_for_who .title {
 	width: 33.3333%;
 	min-width: 33.33333%;
  font-size: 80px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.98;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
	}
.home_for_who .title span{
	-webkit-text-stroke: 2px #ffffff;
	color: transparent;
}
.home_for_who .items{
	width: 66.66666666%;
	min-width: 66.66666%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home_for_who .items .item{
	width: 50%;
	min-width: 50%;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
	

	
	
}
.home_for_who .items .item .item_title{
	  font-family: Roboto;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.home_for_who .items .item .item_description{
	  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
	}
.home_for_who .items .item .item_thumb{
	height: 194px;
	background-color: #f00;
	position: relative;
	z-index: 11;
	width: calc(100% - 30px);
	min-width: calc(100% - 30px);
}
.home_for_who .items .item .item_thumb .image-holder{
	position: absolute;
	background: #ccc;
	z-index: 11;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
.home_for_who .items .item .item_thumb::before {
	content: '123';
	display: block;
	width: 52px;
  	height: 52px;
   	background-color: #ffffff;
   	position: absolute;
   	top: -7px;
   	left: -7px;
   	z-index: 8;
}
.home_for_who .items .item .item_thumb::after {
	content: '';
	display: block;
	width: 121px;
  	height: 121px;
   	background-color: #6dcc0e;
   	position: absolute;
   	bottom:  -11px;
   	right:  -11px;
   	z-index: 8;
}
.slick-slide {
	height: initial!important;
}
.application .container{
	height: 226px;
	background-color: #6dcc0e;
	margin-top: 72px;
	display: flex;
	align-items: center;

}

 .application .container .title {
 	width: 66.6666666%;
 	min-width: 66.6666666%;
 	padding-left: 100px;
 	  font-family: Roboto;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  box-sizing: border-box;
 }
  .application .container .title span{
  	display: block;
  	font-weight: normal;

  }
  .application .container .action {
  	 
  	  margin-top: 50px;
  }
    .application .container .action  button{
    	border: none;
    	background-color: #ffffff;
    	  width: 329px;
  height: 48px;
    border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  color: #000000;
    font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
    }
.application .container  .comment{
	 font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 16px;
}
.reviews{
margin-top: 67px;
margin-bottom: 67px;
}
.reviews .title{

	font-family: Roboto;
  font-size: 80px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.98;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.reviews .title span {
	display: block;
	  -webkit-text-stroke: 2px #000000;
  font-family: Roboto;
  font-size: 76px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  text-align: left;
  color: transparent;
}
.slider{
	margin-top: 26px;
}
.slider .reviews_slider .slick_slider_reviews{
	
position: relative;
z-index: 20;
}
.slider .reviews_slider .slick_slider_reviews .review{
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
	padding: 20px; 
	margin: 20px;
	background-color: #ffffff;


}
.slider .reviews_slider .slick_slider_reviews .review .text{
	padding:10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #121212;
}
.slider .reviews_slider .slick_slider_reviews .review .name{
	  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #6dcc0e;
 
}
.slider .reviews_slider .slick_slider_reviews .review .possition{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  margin-top: 7px;
}
.slider .reviews_slider .slick_slider_reviews .review .d-flex{
	align-items: center;
	justify-content: center;
	margin-top: 83px;

}
.slider .reviews_slider .slick_slider_reviews .review .person{
	margin-right: 15px;
}
.slider .reviews_slider {
	position: relative;
	z-index: 10;
}
.slider .reviews_slider::before {
	content: '';
	display: block;
	width: 148px;
  	height: 148px;
   	background-color: #6dcc0e;
   	position: absolute;
   	top: -14px;
   	right: -14px;
   	z-index: 8;
}
.slider .reviews_slider::after {
	content: '';
	display: block;
	width: 250px;
  	height: 250px;
   	background-color: #6dcc0e;
   	position: absolute;
   	bottom:  -30px;
   	left:   -30px;
   	z-index: 8;
}
.contacts{
	background-color: #000000;
}
.contacts .container{
	padding-top: 54px;
}
.contacts .data{
	width: 33.333333%;
	min-width: 33.333333%;
	padding-bottom: 90px;

}
.contacts .data .title{
	  font-family: Roboto;
  font-size: 80px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.98;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.contacts .data .title span{
	  -webkit-text-stroke: 1px #ffffff;
  font-family: Roboto;
  font-size: 76px;
  color: transparent;
  line-height: 0.80;

}
.contacts .data .adress{
	 font-family: Roboto;
	  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 60px;
}
.contacts .data .adress span{
	display: block;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  padding-top: 8px;
}
.contacts .data .phone{
	 font-family: Roboto;
	  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 42px;
}
.contacts .data .phone span{
	display: block;
	  font-size: 32px;
  font-weight: 500;
  padding-top: 8px;
}
.contacts .data .social{
		 font-family: Roboto;
	  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 42px;
}
.contacts .data .social_icons{
	margin-top: 13px;

}
.contacts .data .social_icons img{
margin-right: 20px;
}
.aplication{
	width: 66.66666%;
	min-width: 66.66666%;
	


}
.aplication .aplication_box{

  position: relative;
  z-index: 10;
  margin-left: 100px;
	
}

.aplication .aplication_box::before {
	content: '';
	display: block;
	width: 148px;
  	height: 148px;
   	background-color: #6dcc0e;
   	position: absolute;
   	top: -14px;
   	right: -14px;
   	z-index: 8;
}
.aplication .aplication_box::after {
	content: '';
	display: block;
	width: 250px;
  	height: 250px;
   	background-color: #6dcc0e;
   	position: absolute;
   	bottom:  -30px;
   	left:   -30px;
   	z-index: 8;
}
.aplication .aplication_box .aplication_form{
	

	background-color: #ffffff;
	margin: 0 0 0 auto;
	padding: 25px;
	position: relative;
	z-index: 10;
	  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);


	
}
.aplication .aplication_form .form_title{
	  font-family: Roboto;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.aplication .aplication_form .form_title span{
	  font-weight: bold;
  color: #6dcc0e;
}
.aplication .aplication_form  input{
	border: none;
	width: 100%;
  height: 62px;
  border-bottom: 2px solid #000000;
  margin-top: 40px;
    font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #999999;

}
.aplication .aplication_form button{
	  width: 100%;
  height: 56px;
	border: none;
	  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: #6dcc0e;
    font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 43px;

}




